header{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100px;
	z-index: 45;
	overflow: hidden;
	background-color: black;
}

.navigasi-header{
	left: 0px;
	top: 10px;
	width: 100%;
	height: 70px;
}

menu{
	position: relative;
	left: 60%;
	top: 15px;
}

menu ul{
	list-style: none;
    font-size: 15px;
    font-family:'Open Sans';
	color: #9095aa;
    padding: 0px;
}

menu li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

menu a{
    font-size:24px;
    line-height:12px;
    padding-left: 1px;
    padding-right: 1px;
}

#main-slider {
  overflow: hidden;
}
#main-slider .item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
#main-slider .slider-inner h2 {
  margin-top: 180px;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}
#main-slider .slider-inner h2 > span {
  color: #45aed6;
}
#main-slider .slider-inner .btn {
  margin-top: 10px;
}
#main-slider .owl-prev,
#main-slider .owl-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100px;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}
#main-slider .owl-prev:hover,
#main-slider .owl-next:hover {
  background-color: #45aed6;
}
#main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}
#main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}

/* ==============================================================================================
										ISI CONTENT
   ==============================================================================================*/

.isi_content{
	position: relative;
	top: 100px;
	width: 100%;
	height: 700px;
	background-color: blue;
}


/* ==============================================================================================
										   Packgae
   ==============================================================================================*/	

.package-table{
	position: relative;
	top: 100px;
	width: 100%;
	height: 700px;
	background-color: orange;
}					